<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zonic Hospital - Achievements</title>
    <link rel="stylesheet" th:href="@{/css/achieve.css}">
</head>

<body>
    <header>
        <h2 class="anc"><a th:href="@{/}"> << Back to Home </a></h2>
        <h1 class="top">Zonic Hospital</h1>
       
    </header>

    <section>
        <h2>Our Achievements</h2>
        <img th:src="@{/images/baby.jpeg}" alt="Zonic Hospital Achievements">

        <p>
            Zonic Hospital is dedicated to providing exceptional healthcare services, and our commitment
            to excellence has been recognized through various achievements and milestones. We take pride
            in our accomplishments and continue to work tirelessly to improve the well-being of our community.
        </p>

        <h3>Contact</h3>

        <ul>
            <li class="ph"> Admin 6654556474</li>
            <li class="ph">Manager 8976877647</li>
            
        </ul>

        <h3>Key Achievements:</h3>
        <ul>
            <li>Received the "Healthcare Excellence Award" for outstanding patient care.</li>
            <li>Successfully completed accreditation for meeting high standards in healthcare services.</li>
            <li>Implemented cutting-edge medical technologies to enhance diagnostic and treatment capabilities.</li>
            <li>Launched community outreach programs to promote health education and awareness.</li>
        </ul>

        <h3>Recognition and Certifications:</h3>
        <ul>
            <li>ISO 9001:2015 Certified for Quality Management Systems.</li>
            <li>Joint Commission Accreditation for Healthcare Organizations.</li>
            <li>Recognized as a Center of Excellence in Cardiology and Oncology.</li>
        </ul>

        <p>
            We extend our gratitude to our dedicated staff, supportive community, and valued patients for
            contributing to our success. Zonic Hospital remains committed to delivering compassionate and
            high-quality healthcare services.
        </p>
    </section>
</body>

</html>
